$bg-primary-color-layout: white;
$primary-color: #235e3d;
$gb-header-nav: #333333;
$color-nav-link: white;
$color-primary-transition-link: #235e3d;
$color-primary-transition-btn: #2d8453;
$color-shadow: #b7b4b4;
$date-color: #aaa5a5;
$accordion__header__color: #f6f6f6;


html {
    font-size: 10px;
    box-sizing: border-box;

}

body {
    background-image: url("../img/cielo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6rem;
    font-family: Helvetica, arial, sans-serif;
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "slider slider"
        "main aside";

    grid-template-columns: 70% 30%;
    width: 80%;
    padding: 3rem;
    margin: 2rem auto;
    background: $bg-primary-color-layout;
}

.layout__header {
    grid-area: header;
}

.header__logo {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: $primary-color;
}

.header__text {
    color: $bg-primary-color-layout;
    font-size: 5rem;
}

.header__nav {
    background-color: $gb-header-nav;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.nav__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 5rem;
}

.list__link {
    color: $color-nav-link;
    padding: 1rem;
    justify-content: center;
    transition: all 100ms linear;
}

.list__link:hover {
    background-color: $color-primary-transition-link;
}

.layout__slider {
    grid-area: slider;
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    border: 5px solid $bg-primary-color-layout;
    border-radius: 5px;
    box-shadow: 0px 0px 5px $color-shadow;
    margin-bottom: 4rem;
}

.slider__btn-prev,
.slider__btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    left: 1rem;
    top: calc(50% - 2.5rem);
    font-size: 4rem;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
    background-color: $gb-header-nav;
    color: $color-nav-link;
    z-index: 2;
    border: none;
    border-radius: 100%;
}

.slider__btn-next {
    left: auto;
    right: 1rem;
}

.slides__item {
    position: absolute;
    transition: opacity 300ms linear;
    opacity: 0;
}

.slides__item--active {
    opacity: 1;
}

.layout__articles,
.layout__main,
.layout__contacto {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 7rem;
}

.articles__article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.article__title {
    font-size: 4rem;
}

.article__date {
    color: $date-color;
}

.article__body {
    text-align: justify;
}

.article__btn {
    width: 12rem;
    padding: 1.5rem 1rem;
    margin-top: 0.5rem;
    background-color: $primary-color;
    color: $color-nav-link;
    cursor: pointer;
    border: none;
    transition: all 200ms linear;
}

.article__btn:hover {
    background-color: $color-primary-transition-btn;
    scale: 1.06;
}

.layout__aside {
    grid-area: aside;
    padding: 0.8rem;
}

.aside__header {
    margin-bottom: 4rem;
}

.header__container-title {
    text-align: center;
}

.header__title,
.form__title {
    // line-height: 1rem;
    background: url("../img/lines.png") repeat-x;
    line-height: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.title__span {
    background-color: $bg-primary-color-layout;
    padding: 0.5rem;
}

.header__description {
    font: 1.6rem;
    padding: 0.5rem;
}

.aside__login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.aside__login--hide {
    display: none;
}

.login__container-title {
    margin-bottom: 1.5rem;
}

.login__form-group {
    display: flex;
    gap: 0.5rem;
}

.login__input {
    width: 100%;
    border: 2px $color-shadow solid;
    outline: none;
}

.login__input:focus {
    border: 2px $primary-color solid;
}

.login__submit {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    border: 1px $color-shadow solid;
    transition: all 300msc linear;
}

.aside__data {
    display: block;
}

.aside__data--hide {
    display: none;
}

.login__submit:hover {

    border: 1px $color-primary-transition-link solid;
    background-color: $color-primary-transition-btn;
    color: $color-nav-link
}

.footer {
    max-width: 128rem;
    background-color: $gb-header-nav;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    color: $bg-primary-color-layout;

}

.footer__top {
    cursor: pointer;
}

.secction__title {
    font-size: 3rem;
}

.main__accordion {

    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-right: 15rem;
}


.accordion__collapse--open .collapse__body {
    max-height: 390px;
    //border: 1px $color-shadow solid;
    border: 1px $color-shadow solid;
    border-top: none;
    transition: all 300ms ease-in-out;


}

.accordion__collapse--open .collapse__header {
    background-color: $primary-color;
    border-radius: 0.6rem 0.6rem 0 0;
    border-bottom-color: transparent;
    transition: all 050ms ease-in-out;



}

.accordion__collapse--open .header__article--title {
    color: $accordion__header__color;
}

.collapse__body {
    background-color: #ffffff;
    border: 1px $color-shadow solid;
    border-radius: 0 0 0.6rem 0.6rem;
    border-top: none;
    border-bottom-color: transparent;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    max-height: 0;

}


.collapse__text {
    padding: 2rem 4.5rem;
}


.collapse__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $accordion__header__color;
    border: 1px $color-shadow solid;

    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.8rem 1rem;
    color: $gb-header-nav;

    transition: all 600ms ease-in-out;


}

.accordion__collapse--open .collapse__header>.fa-chevron-up {
    opacity: 1;

    color: $bg-primary-color-layout;

}

.accordion__collapse--open .collapse__header>.fa-chevron-down {
    opacity: 0;
}


.collapse__header>.fa-solid {
    position: absolute;
    padding-left: 0.5rem;

}

.collapse__header>.fa-chevron-up {
    opacity: 0;
    font-size: 1.2rem;

    transition: all 300ms ease-in-out;

}

.collapse__header>.fa-chevron-down {
    opacity: 1;
    font-size: 1.2rem;
    transition: all 300ms ease-in-out;

}



.collapse__header>.header__article--title {
    margin-left: 2.5rem;

}


.layout__time {


    width: 30rem;
    margin-right: auto;
    text-align: center;

    .time__text {
        padding: 2rem;

        border: 6px dashed $gb-header-nav ;
        font-size: 4.5rem;

    }
}

.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: auto;
    width: 30rem;
}

.contacto__title {
    font-size: 3rem;
}

.contacto__group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.contacto__input,
.contacto__select {
    border: 2px solid $color-shadow;
    outline: none;
    padding: 5px;
    font-size: 1.5rem;
}

.contacto__input:focus,
.contacto__select:focus {
    border: 2px solid $primary-color;
}

.contacto__btn {
    border: 1px $primary-color solid;
    width: 15rem;
    padding: 0.5rem 1rem;
    transition: all 100ms linear;

}

.contacto__group select {
    background-color: #e9e9ed
}

.contacto__btn:hover {
    background-color: $primary-color;
    color: $color-nav-link;
}


.just-validate-error-label {
    background-color: red !important;
    color: white !important;
    text-align: center;
    padding: 0.5rem;
}

.themes {
    top: 40%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem;
    left: 0;
    width: 4rem;
    height: 12rem;
    background-color: $bg-primary-color-layout;
    opacity: 0.8;
}

.themes>div {

    border: 1px solid white;
    height: 3rem;
    width: 100%;
    cursor: pointer;
}

.themes__green {
    background-color: #276061;
}

.themes__blue {
    background-color: #3f8bbd;

}

.themes__red {
    background-color: #a04e4f;

}